{% if gpus %}
<table>
  <tr>
    <th>GPU</th>
    <th style="width:60%">Utilization</th>
  </tr>
  {% for gpu in gpus %}
  <tr>
    <td style="font-weight:600">
      {{ gpu.type }}{% if gpu.vram_per_gpu %} <span style="font-weight:normal;color:#888">({{ gpu.vram_per_gpu }} GB)</span>{% endif %}
    </td>
    <td>
      <div class="gpu-bar">
        <div class="gpu-bar-used" style="width:{{ gpu.pct }}%"></div>
        <div class="gpu-bar-free" style="width:{{ 100 - gpu.pct }}%"></div>
        <span class="gpu-bar-num gpu-bar-num-used">{{ gpu.used }}</span>
        <span class="gpu-bar-num gpu-bar-num-free">{{ gpu.free }}</span>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<em>No data</em>
{% endif %}
